@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&family=Quicksand:wght@300..700&family=Rufina:wght@400;700&display=swap');

:root {

    /* Dimensions */
    --width-full: 100%;
    --width-12col: 1200px;     

    /* Grid Settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* Colors */
    --light-blue: #C1D4D8;
    --white: #F2F4F3;
    --blue: #8CB7BC;
    --green: #A7D1AA;
    --eggshell: #F3ECDD;
    --ligther-than-blue: #EEF1F7;
    --darkblue: #243F58;
    --black: #252525;
}

/* Reset CSS */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

/* Global CSS */

body {
    background-color: #dddddd;
    font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "Rufina";
}

/* NAVBAR */

.navigation {
    background-color: #8CB7BC80;
    position: relative;
    z-index: 1;
    height: 86px;
    display:flex;
  }
  
  .menuContainer {
    width: 600px;
    margin: 0 auto 0 auto;
    height: 86px;
    display: flex;
    align-items: center;
  }
  
  .menuContainer ul {
    display: flex;
    font-size: 14px;
  }
  
  .menuContainer ul li {
    list-style-type: none;
    margin:10px 0;
  }
  
  .menuContainer ul li a {
    color: var(--color-light);
    text-decoration: none;
    border-right: 1px solid var(--blue);
    padding:0 10px;
    
  }
  
  .menuContainer ul li a:hover{
    color: var(--eggshell);
  }
  
  .menuContainer ul li:last-child a {
    border-right: none;
  }

  .languageChanger {
    direction: rtl;
    width: 600px;
    margin: 0 auto 0 auto;
    height: 86px;
    display: flex;
    align-items: center;
  }

/* STYLING OF LANG BUTTON  */

.languageCheckbox {
  position: relative;
  width: 30px;
  cursor: pointer;
  margin-left: 27px;
  appearance: none;
  position: absolute;
  content: '';
  width: 25px;
  height: 15px;
  background: var(--black);
  border-radius: 25px;
}

.languageCheckbox::after {
  content:'';
  position: absolute;
  left: 0px;
  width: 15px;
  height: 15px;
  background: var(--white);
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid var(--blue);
  box-sizing: border-box;
}

.languageCheckbox:checked::after {
  left: 12px;
  border: 2px solid var(--green);
}

.languageCheckboxENText {
  margin: 35px;
}

/* FOOTER */

.footerContainer {
    padding: 32px 0;
    background-color: var(--darkblue);
    width: var(--width-full);
  }
  
  .footerBox {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    width: var(--width-12col);
  }
  
  .footerBoxLeft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-right: 1px solid var(--color-light);
  }

  .footerCopyright {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--white);
  }
  
  .footerMenus{
    display: flex;
  }
  
  .footerMenus ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footerMenus ul li {
    padding: 3px 0 2px 0;
  }
  
  .footerMenus ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 13px;
  }
  
  .footerBoxRight {
    direction: rtl;
    display: flex;
    align-items: center;
  }
  
  .footerBoxRight ul {
    list-style-type: none;
    display: flex;
  }
  
  .footerBoxRight ul li {
    padding: 7px;
  }
  
  .footerBoxRight ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 30px;
    display: flex;
  }


/* INDEX.HTML */

.hero {
  margin-top: -86px;
  width: var(--width-full);
  height: 786px;
  background-image: url('https://picsum.photos/1200/600');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--blue);
}

.heroContainer {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: var(--grid-gap);
  height: 100%;
  width: var(--width-12col);
  margin: 0 auto 0 auto;
}

.heroText {
  grid-column: 1 / span 5;
  grid-row: 1;
  margin-top: 192px;
}

.heroBottomRight {
  direction: rtl;
  margin-top: 584px;
  grid-column: 10 / span 3;
}

.heroButton button {
  padding:20px 80px;
  background-color: var(--green);
  border-radius: 5px;
  border: 0;
  font-weight: 700;
  font-size: 17px;
}

.heroButton button:hover {
  cursor: pointer;
}

.illustrationBarBox {
  margin: 42px auto 0 auto;
  background-color: var(--white);
  width: 800px;
  border-radius: 5px;
  padding: 14px 0 14px 0;
  display: flex;
  justify-content: space-between;
}

.illustrationBarBoxStep {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.illustrationBarBoxStepPic {
  display: flex;
  justify-content: center;
  padding: 0 50px;
  font-size: 37px;
}

.illustrationBarBoxStepPic img {
  height: 48px;
}

.illustrationBarBoxStepText {
  font-size: 16px;
  text-align: center;
  padding-top: 5px;
}

.ImASpecialLittleSvgLookAtMe {
  padding: 0 50px 0 60px;
}






































/* STEPS.HTML */

















































/* WHAT.HTML */


